.about-us {
    display: flex;
    align-self: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: initial;
}
  
.about-us-description {
    text-align: center;
    word-wrap: break-word;
    word-spacing: 0.02rem;
    width: calc(50vw + 100px);
    max-width: 600px;
    min-width: 200px;
    margin: 56px auto;
    border-radius: 20px;
    padding: 56px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.about-us-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 56px auto;
    width: calc(50vw + 10px);
    padding: 56px;
    border-radius: 20px;
    max-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}