@keyframes vanish {
  to {
      width:0;
      height:0;
      overflow:hidden;
      visibility: hidden;
      display: none;
  }
}
  
@-webkit-keyframes vanish {
  to {
    width:0;
    height:0;
    overflow:hidden;
    visibility: hidden;
    display: none;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes centerToRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(45px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes levitate {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}