/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    display: contents;
    flex-wrap: nowrap;
    transition: margin-left .5s;
    padding: 20px;
}