@import url(style.css);

form > h1 {
    color: whitesmoke;
}

input[type=text], input[type=date], input[type=email], input[type=password], select, textarea {
    text-decoration: none;
    outline: none;
    border: none;
    display: inline-block;
    width: 80%;
    padding: 10px 12px;
    border-radius: 7px;
    margin: 10px auto;
    align-items: center;
}

input:hover {
    outline: auto;
}