@import url(style.css);

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    padding: 10px;
}

main, .tipo-list-container {
    display: flex;
    flex-direction: column;
    flex-shrink: calc(1.0);
    justify-content: center;
    align-items: center;
    align-self: auto;
    box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.2);
    border-radius: 16px;
    padding: 56px 112px;
    min-width: 250px;
}

.profile-center {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin: 8px;
}

.profile-left, .profile-right {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8px;
}

.profile-botttom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
}

#profile-search {
    width: auto;
}

#maginifying-glass {
    width: 32px;
    height: 32px;
}

form {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
}

form > a {
    width: fit-content;
    height: fit-content;
}

.tipo-list-container > h2 {
    padding: 16px 0px;
    border-bottom: 2px solid black;
}

.tipo-list-container > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px auto;  
}

.tipo-list-container > li, a {
    color: var(--menu-main);
    text-decoration: none;
    padding: 8px auto;  
}

.tipo-list-container a:hover {
    text-decoration: underline;
}

.form-tipo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-around;
}

.tipo-container-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.tipo-container-buttons button {
    color:  whitesmoke;
}