@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
:root {
  --bg-main: #8bb7e07d;
  --cards-main: #51a3f5bd;
  --cards-sec: #3a9afa;
  --menu-main: #2864A3;
  --menu-sec: #CAECF7;
  --link-main: #a7e1f5;
  --red-warning: #e90202;
  --red-warning-2: #b10202; }

@keyframes vanish {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: none; } }

@-webkit-keyframes vanish {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: none; } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes centerToRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(45px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
  margin: 0;
  padding: 0; }

/*
html {
    font-size: 62.5%;
}
*/
body {
  box-sizing: border-box;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  align-content: center;
  gap: 2rem; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; }

#nav-btn-push {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-iteration-count: 1; }
  #nav-btn-push:hover {
    cursor: pointer; }

#filter-list-btn {
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  height: 48px;
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  text-decoration: none;
  font-size: 20px; }

#task-link-btn {
  float: right;
  color: var(--menu-sec);
  text-decoration: none; }
  #task-link-btn:visited {
    color: var(--menu-sec); }
  #task-link-btn:hover {
    color: whitesmoke; }
  #task-link-btn:active {
    animation: rotation;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    color: var(--link-main); }

.modal-close-btn {
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-self: flex-end;
  flex-direction: row; }
  .modal-close-btn:visited {
    color: whitesmoke; }
  .modal-close-btn:hover {
    color: var(--red-warning); }
  .modal-close-btn:active {
    color: var(--red-warning-2); }

.btn_del {
  background-color: #e90202;
  border: none;
  color: white;
  padding: 09px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 12px; }
  .btn_del:hover {
    background-color: #f85555;
    color: #020101; }

.btn_edit {
  background-color: #04d331;
  border: none;
  color: white;
  padding: 09px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 12px; }
  .btn_edit:hover {
    background-color: #76ce7a;
    color: #020101; }

.btn-custom {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }

#home-btn {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

#close-btn {
  color: white;
  float: right;
  font-size: large; }
  #close-btn:hover {
    cursor: pointer;
    color: red; }

.submit-btn {
  padding: 15px 18px;
  margin: 10px auto;
  border-radius: 7px;
  border: none;
  transition: 0.7s;
  background-color: var(--cards-sec); }
  .submit-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    box-shadow: 2px 6px 0 rgba(0, 0, 0, 0.24); }

.icon {
  width: 32px;
  height: 32px; }

.icon-2 {
  width: 16px;
  height: 16px; }

.logo-bg {
  width: 100%;
  height: 100%;
  background-size: cover; }

#create-account-text {
  color: whitesmoke; }

#create-account-link, #create-account-link:visited {
  color: var(--link-main);
  text-decoration: none; }

#create-account-link:hover {
  color: white; }

#create-account-link:active {
  color: var(--cards-sec); }

.msg {
  width: 20rem;
  list-style-type: none;
  height: fit-content;
  padding: 24px 56px;
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  top: 1;
  left: 40;
  right: 40;
  text-decoration: none;
  text-align: center; }

.msg-ul-bad {
  background-color: #e9232394; }

.msg-ul-bad-solid {
  background-color: #e92323de; }

.msg-ul-good {
  background-color: #1a73e7b9; }

#hideMe {
  -webkit-animation: vanish 0s ease-in 5s forwards;
  animation: vanish 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.pop-up {
  position: fixed;
  top: 0;
  padding-top: 7%;
  right: 100;
  display: none;
  z-index: 2;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.2s; }

.modal-form {
  width: fit-content;
  height: fit-content;
  border-radius: 12px; }

.modal-login, .modal-create, .modal-create-user, .modal-tipo {
  background-color: var(--menu-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 28rem;
  height: fit-content;
  margin: 0 auto;
  padding: 24px 56px;
  border-radius: 16px;
  transition: 0.8s; }

.task-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  background-color: var(--cards-main);
  width: 20rem;
  height: 20.31rem;
  line-height: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 7px;
  padding: 10px 12px;
  word-wrap: break-word;
  overflow: hidden;
  margin: 50px;
  transition: 0.2s;
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-iteration-count: 1; }
  .task-div:hover {
    background-color: var(--cards-sec);
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); }
  .task-div-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cards-main);
    width: 70%;
    max-width: 430px;
    min-width: 370px;
    height: calc(100vh - 18rem);
    max-height: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 32px 40px;
    border-radius: 16px;
    word-wrap: break-word;
    transition: 0.2s;
    margin-top: calc(12vw - 30px); }
    .task-div-info:hover {
      box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2); }
  .task-div-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: flex-end;
    gap: 32px; }
  .task-div-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20vh auto;
    background-color: var(--cards-main);
    width: 30rem;
    height: 32rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    word-wrap: break-word;
    transition: 0.2s; }

@media screen and (max-width: 1000px) {
  .task-div {
    width: 17rem;
    height: 18rem;
    overflow: hidden; } }

/* Message Start */
/* Message End */
.task-div-inner-top {
  display: flex;
  flex-direction: column;
  align-items: center; }

.task-link-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end; }

.task-link-container {
  display: hidden; }

.task-inner-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.task-top-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: flex-end;
  gap: 16px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  display: contents;
  flex-wrap: nowrap;
  transition: margin-left .5s;
  padding: 20px; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: var(--menu-main);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */ }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--menu-sec);
    display: block;
    transition: 0.3s; }
  .sidenav:hover {
    color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.about-us {
  display: flex;
  align-self: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: initial; }

.about-us-description {
  text-align: center;
  word-wrap: break-word;
  word-spacing: 0.02rem;
  width: calc(50vw + 100px);
  max-width: 600px;
  min-width: 200px;
  margin: 56px auto;
  border-radius: 20px;
  padding: 56px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.about-us-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 56px auto;
  width: calc(50vw + 10px);
  padding: 56px;
  border-radius: 20px;
  max-width: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.task-div-info {
  background-color: var(--cards-sec);
  padding: 56px;
  border-radius: 16px;
  line-height: 56px;
  width: 90%;
  height: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center; }

body {
  display: flex;
  justify-content: space-around;
  min-height: 90vh; }

main, .tipo-list-container, .tarefas-list-container {
  display: flex;
  flex-direction: column;
  flex-shrink: calc(1.0);
  justify-content: center;
  align-items: center;
  align-self: auto;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 56px 112px;
  min-width: 250px;
  margin: 36px; }

.profile-center {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  margin: 8px; }

.profile-left, .profile-right {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px; }

.profile-botttom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 4px; }

#profile-search {
  width: auto; }

#maginifying-glass {
  width: 32px;
  height: 32px; }

form {
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 4px; }

form > a {
  width: fit-content;
  height: fit-content; }

.tipo-list-container > h2, .tarefas-list-container > h2 {
  padding: 16px 0px;
  border-bottom: 2px solid black; }

.tipo-list-container > ul, .tarefas-list-container > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px auto; }

.tipo-list-container > li, a {
  color: var(--menu-main);
  text-decoration: none;
  padding: 8px auto; }

.tipo-list-container a:hover {
  text-decoration: underline; }

.form-tipo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-around; }

.tipo-container-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px; }

.tipo-container-buttons button {
  color: whitesmoke; }
