@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url(form.css);

* {
  box-sizing: border-box;
  user-select: none;
}

/* Color Palette*/

:root {
  --bg-main: #8bb7e07d;
  --cards-main: #51a3f5bd;
  --cards-sec: #3a9afa;
  --menu-main: #2864A3;
  --menu-sec: #CAECF7;
  --link-main: #a7e1f5;
  --red-warning: #e90202;
  --red-warning-2: #b10202;
}

/* -------------------------- */

body {
  font-family:'Roboto', sans-serif;
  background-color: var(--bg-main);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  align-content: center;
  gap: 2rem;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--menu-main); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--menu-sec);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.modal-close-btn {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.modal-form {
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
}

#nav-btn-push {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

#nav-btn-push:hover {
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  display: contents;
  flex-wrap: nowrap;
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.task-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  background-color: var(--cards-main);
  width: 20rem;
  height: 20.31rem;
  line-height: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  border-radius: 7px;
  padding: 10px 12px;
  word-wrap: break-word;
  overflow: hidden;
  margin: 50px;
  transition: 0.2s;
}

.task-div:hover {
  background-color: var(--cards-sec);
  box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.2);
  transform: scale(1.1);
}

.task-div-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--cards-main);
  width: 70%;
  max-width: 430px;
  min-width: 370px;
  height: calc(100vh - 18rem);
  max-height: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 32px 40px;
  border-radius: 16px;
  word-wrap: break-word;
  transition: 0.2s;
  margin-top: calc(12vw - 30px);
}

.task-div-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20vh auto;
  background-color: var(--cards-main);
  width: 30rem;
  height: 32rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 16px;
  word-wrap: break-word;
  transition: 0.2s;
}

.task-div-info:hover {
  box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1000px) {
  .task-div {
    width: 17rem;
    height: 18rem;
    overflow: hidden;
  }
}

.btn_del {
  background-color: #e90202;
  border: none;
  color: white;
  padding: 09px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 12px;
}

.btn_del:hover {
  background-color: #f85555;
  color: rgb(2, 1, 1);
}

.btn_edit {
  background-color: #04d331;
  border: none;
  color: white;
  padding: 09px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 12px;
}

.btn_edit:hover {
  background-color: #76ce7a;
  color: rgb(2, 1, 1);
}

/* Message Start */

.msg {
  width: 20rem;
  list-style-type: none;
  height: fit-content;
  padding: 24px 56px;
  border-radius: 5px;
  z-index: 5;
  position: absolute;
  top: 1;
  left: 40;
  right: 40;
  text-decoration: none;
  text-align: center;
}

.msg-ul-bad {
  background-color: #e9232394;
}

.msg-ul-good {
  background-color: #1a73e7b9;
}

/* Message End */

.task-div-inner-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-link-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
}

.task-div-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: flex-end;
  gap: 32px;
}

#task-link-btn, #task-link-btn:visited {
  float: right;
  color: var(--menu-sec);
}

#task-link-btn:hover {
  color: whitesmoke;
}

#task-link-btn:active {
  animation: rotation;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  color: var(--link-main);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.task-link-container {
  display: hidden;
}

.task-inner-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.task-top-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: flex-end;
  gap: 16px;
}

.icon {
  width: 32px;
  height: 32px;
}

.icon-2 {
  width: 16px;
  height: 16px;
}

.btn-custom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* Message Animation Start*/

#hideMe {
  -webkit-animation: vanish 0s ease-in 5s forwards;
  animation: vanish 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes vanish {
  to {
      width:0;
      height:0;
      overflow:hidden;
      visibility: hidden;
      display: none;
  }
}

@-webkit-keyframes vanish {
  to {
    width:0;
    height:0;
    overflow:hidden;
    visibility: hidden;
    display: none;
  }
}

/* Message Animation End */

/* Modal Start */

.modal-login, .modal-create, .modal-create-user, .modal-tipo {
  background-color: var(--menu-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28rem;
  height: fit-content;
  margin: 0 auto;
  padding: 24px 56px;
  border-radius: 16px;
}

.modal-close-btn, .modal-close-btn:visited {
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-self: flex-end;
}

.modal-close-btn:hover {
  color: var(--red-warning);
}

.modal-close-btn:active {
  color: var(--red-warning-2);
}

#create-account-text {
  color: whitesmoke;
}

#create-account-link, #create-account-link:visited {
  color: var(--link-main);
  text-decoration: none;
}

#create-account-link:hover {
  color: white;
}

#create-account-link:active {
  color: var(--cards-sec);
}


/* Modal End */

/* TASK DIV EDIT START */


/* TASK DIV EDIT END */