@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url(form.css);

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --bg-main: #8bb7e07d;
  --cards-main: #51a3f5bd;
  --cards-sec: #3a9afa;
  --menu-main: #2864A3;
  --menu-sec: #CAECF7;
}

body {
  font-family:'Roboto', sans-serif;
  background-color: var(--bg-main);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  align-content: center;
  gap: 2rem;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--menu-main); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--menu-sec);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#nav-btn-push {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

#nav-btn-push:hover {
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  display: contents;
  flex-wrap: nowrap;
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.task-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  background-color: var(--cards-main);
  width: 20rem;
  height: 20.31rem;
  line-height: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  border-radius: 7px;
  padding: 10px 12px;
  word-wrap: break-word;
  overflow: hidden;
  margin: 50px;
  transition: 0.2s;
}

.task-div:hover {
  background-color: var(--cards-sec);
  box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.2);
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .task-div {
    width: 17rem;
    height: 18rem;
    overflow: hidden;
  }
}

.btn_del {
  background-color: #e90202;
    border: none;
    color: white;
    padding: 09px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 12px;
}

.btn_del:hover {
  background-color: #f85555;
  color: rgb(2, 1, 1);

}

.btn_edit {
  background-color: #04d331;
    border: none;
    color: white;
    padding: 09px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 12px;
}

.btn_edit:hover {
  background-color: #76ce7a;
  color: rgb(2, 1, 1);

}

.msg {
  width: 20rem;
  list-style-type: none;
  height: fit-content;
  padding: 8px 56px;
  border-radius: 5px;
  z-index: 5;
  position: absolute;
  top: 1;
  left: 40;
  right: 40;
  text-decoration: none;

}

.msg-ul-bad {
  background-color: #e923234f;
}

.msg-ul-good {
  background-color: rgba(0, 0, 255, 0.274);
}

.task-div-inner-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-link-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
}

.task-div-inner {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 32px;
}

.task-link-btn {
  float: right;
}

.task-link-container {
  display: hidden;
}

.task-inner-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon {
  width: 36px;
  height: 36px;
}