:root {
    --bg-main: #8bb7e07d;
    --cards-main: #51a3f5bd;
    --cards-sec: #3a9afa;
    --menu-main: #2864A3;
    --menu-sec: #CAECF7;
    --link-main: #a7e1f5;
    --red-warning: #e90202;
    --red-warning-2: #b10202;
}

$bg-main: #8bb7e07d;
$cards-main: #51a3f5bd;
$cards-sec: #3a9afa;
$menu-main: #2864A3;
$menu-sec: #CAECF7;
$link-main: #a7e1f5;
$red-warning: #e90202;
$red-warning-2: #b10202;
