#nav-btn-push {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-iteration-count: 1;

    &:hover {
        cursor: pointer;
    }
}

#filter-list-btn {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    height: 4.8rem;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-iteration-count: 1;

    text-decoration: none;
    font-size: 2rem;
}

#task-link-btn {
    float: right;
    color: var(--menu-sec);
    text-decoration: none;

    &:visited {
        color: var(--menu-sec);
    }

    &:hover {
        color: whitesmoke;
    }
      
    &:active {
        animation: rotation;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        color: var(--link-main);
    }
}


.modal-close-btn {
    color: whitesmoke;
    font-size: 2.4rem;
    text-decoration: none;
    display: flex;
    align-self: flex-end;
    flex-direction: row;

    &:visited {
        color: whitesmoke;
    }

    &:hover {
        color: var(--red-warning);
    }
      
    &:active {
        color: var(--red-warning-2);
    }
}

.btn {

    &_del {
        background-color: #e90202;
        border: none;
        color: white;
        padding: .9rem 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.6rem;
        border-radius: .8rem;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        margin: 1.2rem;
    
        &:hover {
            background-color: #f85555;
            color: rgb(2, 1, 1);
        }
    }
    
      
    &_edit {
        background-color: #04d331;
        border: none;
        color: white;
        padding: .9rem 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.6rem;
        border-radius: .8rem;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        margin: 1.2rem;
    
        &:hover {
            background-color: #76ce7a;
            color: rgb(2, 1, 1);
        }
    }
    
    &-custom {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
}

#home-btn {
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#close-btn {
    color: white;
    float: right;
    font-size: large;

    &:hover {
        cursor: pointer;
        color: red;
    }
}

.submit-btn {
    padding: 1.5rem 1.8rem;
    margin: 1rem auto;
    border-radius: .7rem;
    border: none;
    transition: 0.7s;
    background-color: var(--cards-sec);

    &:hover {
        cursor: pointer;
        opacity: 0.6;
        box-shadow: .2rem .6rem 0 rgba(0,0,0,0.24);
    }
}

