#nav-btn-push {
    float: left;
    position: fixed;
    top: 0;
    left: 0;

    &:hover {
        cursor: pointer;
    }
}

#filter-list-btn {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    height: 48px;

    text-decoration: none;
    font-size: 20px;
}

#task-link-btn {
    float: right;
    color: var(--menu-sec);
    text-decoration: none;

    &:visited {
        color: var(--menu-sec);
    }

    &:hover {
        color: whitesmoke;
    }
      
    &:active {
        animation: rotation;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        color: var(--link-main);
    }
}


.modal-close-btn {
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-self: flex-end;
    flex-direction: row;

    &:visited {
        color: whitesmoke;
    }

    &:hover {
        color: var(--red-warning);
    }
      
    &:active {
        color: var(--red-warning-2);
    }
}

.btn_del {
    background-color: #e90202;
    border: none;
    color: white;
    padding: 09px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 12px;

    &:hover {
        background-color: #f85555;
        color: rgb(2, 1, 1);
    }
}

  
.btn_edit {
    background-color: #04d331;
    border: none;
    color: white;
    padding: 09px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 12px;

    &:hover {
        background-color: #76ce7a;
        color: rgb(2, 1, 1);
    }
}

.btn-custom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#home-btn {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#close-btn {
    color: white;
    float: right;
    font-size: large;

    &:hover {
        cursor: pointer;
        color: red;
    }
}

.submit-btn {
    padding: 15px 18px;
    margin: 10px auto;
    border-radius: 7px;
    border: none;
    transition: 0.7s;
    background-color: var(--cards-sec);

    &:hover {
        cursor: pointer;
        opacity: 0.6;
        box-shadow: 2px 6px 0 rgba(0,0,0,0.24);
    }
}

