@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url(form.css);

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --bg-main: #D8E8F5;
  --cards-main: #B7C8DD;
  --cards-sec: #9FB5CB;
  --menu-main: #607075;
  --menu-sec: #CAECF7;
}

body {
  font-family:'Roboto', sans-serif;
  background-color: var(--bg-main);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  align-content: center;
  gap: 2rem;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--menu-main); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--menu-sec);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#nav-btn-push {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

#nav-btn-push:hover {
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  display: contents;
  flex-wrap: nowrap;
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.task-div {
  float: left;
  background-color: var(--cards-main);
  width: 20rem;
  height: 20.31rem;
  line-height: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  border-radius: 7px;
  padding: 10px 12px;
  word-wrap: break-word;
  overflow: hidden;
  margin: 50px;
  transition: 0.2s;
}

.task-div:hover {
  background-color: var(--cards-sec);
  box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.2);
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .task-div {
    width: 17rem;
    height: 18rem;
    overflow: hidden;
  }
}