<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">
    <link rel="stylesheet" href="../static/style.css">
    <title>NavBar Test</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" onclick="openLogin()">Login</a>
        <a href="#" onclick="openForm()">Criar Task</a>
        <a href="#">Progresso</a>
        <a href="{{url_for('status')}}">Status</a>
        <a href="{{url_for('sobre')}}">About</a>
    </div>

    <!--Modal para o login e autenticação-->

    <div id="login-form" class="pop-up">
        <form method="POST" action="{{url_for('autenticar')}}">
            <span id="close-btn" onclick="closeLogin()">X</span>

            <h1>Faça Seu Login Aqui</h1>

            <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">

            <input type="email" name="email" id="email" required placeholder="E-mail..."> <br>

            <input type="password" name="senha" id="senha" required placeholder="Password...">  <br>

            <button class="submit-btn" type="submit">OK</button>

            <p>Ainda não tem uma conta? Clique <a onclick="openCreateAccount()" href="#">aqui</a></p>
        </form>
    </div>

    <div id="create-account" class="pop-up">
        <form method="POST" action="{{url_for('criar_usuario')}}">
            <span id="close-btn" onclick="closeCreateAccount()">X</span>

            <h1>Faça Seu Login Aqui</h1>

            <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">

            <input type="text" name="username" id="username" required placeholder="Nome de Usuário..."> <br>

            <input type="email" name="email" id="email" required placeholder="E-mail..."> <br>

            <input type="password" name="senha" id="senha" required placeholder="Password...">  <br>

            <button class="submit-btn" type="submit">OK</button>
        </form>
    </div>

    <!--Modal para a criação de tarefas-->

    <div id="create-form" class="pop-up">
        <form method="POST" action="{{url_for('criar')}}">
            <span id="close-btn" onclick="closeForm()">X</span>

            <h1>Crie Sua Tarefa</h1>

            <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">

            <input type="text" name="nome" id="nome" placeholder="Nome..." required> <br>

            <input type="text" name="descricao" id="descricao" placeholder="Descrição da Tarefa..."> <br>

            <input type="text" name="tipo" id="tipo" placeholder="Tipo de Tarefa..." required> <br>

            <input type="text" name="status" id="status" placeholder="Status da Tarefa..."> <br>

            <input type="text" name="prioridade" id="prioridade" placeholder="Prioridade da Tarefa..."> <br>

            <button class="submit-btn" type="submit">OK</button>
        </form>
    </div>
      
      <!-- Use any element to open the sidenav -->
      <img id="nav-btn-push" src="{{url_for('static', filename='list-btn-blk.png')}}" alt="" onclick="openNav()">
      
      <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      <div id="main">
    {% for tarefa in tarefas %}
        <div class="task-div"> 
            <a id="task-link-btn" href="{{url_for('tarefa_info', id=tarefa._id)}}">&plus;</a>
            <h3>{{ tarefa._nome }}</h3>
            <p>{{ tarefa._descricao }}</p>
        </div>
    {% endfor %}
      </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="../static/script.js"></script>
</body>
</html>