{% extends "template.html" %}

{% block menu_btn %}

    <a href="{{ url_for('perfil', id=usuario._id) }}">{{usuario._nome}}</a>

    <a href="{{ url_for('index') }}">Home</a>
    
    <a href="#" onclick="openForm()">Criar Task</a>

    <a href="#">Progresso</a>

    <a href="{{url_for('status')}}">Status</a>

    <a href="{{url_for('sobre')}}">About</a>

{% endblock %}


        
{% block task %}

    <h2>Welcome to your profile, {{ usuario._nome }}</h2> <br>

    <p>{{ usuario._nome }}, você tem {{ tarefas_qnt }} salvas.</p>

    <p>Tarefas prontas: {{ tarefas_prontas }}</p>

    <p>Tarefas a fazer: {{ tarefas_fazer }}</p>

    <p>Tarefas sendo feitas: {{ tarefas_fazendo }}</p>

{% endblock %}