
<!DOCTYPE html>
<html lang="pt-BR">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/0fd2eddfe6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
        <title>Sobre</title>
    </head>
    
    <body>
       <h1 id="tit1">Sobre nós</h1>

       <p id="pag1">Post-it virtual é um projeto para a disciplina de Engenharia de Software II 
       do Curso de Ciencia da Computaçaõ do Intituto Federal do Sul de Minas Campus Muzambinho, 
       desenvolvido  por 3 alunos da turma CCOMP5 são eles Matheus Palmeira de Oliveira, 
       Otavio Augusto Barbieri e Wallace Felipe Teixeira </p>

        <h2 id="tit2">Contato tira dúvidas e sugestões: </h2>
        
        <address> 
            Matheus  
            <br> Email: 12201000760@muz.ifsuldeminas.edu.br <br>
            Otavio
            <br> Email: 12201000759@muz.ifsuldeminas.edu.br <br>
            Wallace
            <br> Email: 12201000421@muz.ifsuldeminas.edu.br
        </address>
    
    </body>
    </html>