{% extends "template.html" %}

{% block content %} 

    <div class="about-us">
       <div class="about-us-description">
           <h1 id="m_tit1">Sobre nós</h1>
           <p id="m_pag1">Post-it virtual é um projeto para a disciplina de Engenharia de Software II
               do Curso de Ciencia da Computaçaõ do Intituto Federal do Sul de Minas Campus Muzambinho,
               desenvolvido  por 3 alunos da turma CCOMP5 são eles Matheus Palmeira de Oliveira,
               Otavio Augusto Barbieri e Wallace Felipe Teixeira </p>
       </div>

        <h2 id="m_tit2">Contato tira dúvidas e sugestões: </h2>
        
        <div class="about-us-contact">
            <address>
                Matheus
                <br> Email: <a href="mailto:12201000760@muz.ifsuldeminas.edu.br" target="_blank" rel="noreferrer">12201000760@muz.ifsuldeminas.<wbr>edu.br</a> <br>
                Otavio
                <br> Email: <a href="mailto:12201000759@muz.ifsuldeminas.edu.br" target="_blank" rel="noreferrer">12201000759@muz.ifsuldeminas.<wbr>edu.br</a> <br>
                Wallace
                <br> Email: <a href="mailto:12201000421@muz.ifsuldeminas.edu.br" target="_blank" rel="noreferrer">12201000421@muz.ifsuldeminas.<wbr>edu.br</a>
            </address>
        </div>

        <div class="about-us-contact">
            <p></p>
        </div>
    
    </div>

{% endblock %}