@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --bg-main: whitesmoke;
    --bg-sec: gray;
    --bg-third: rgb(109, 109, 109);
    --bg-main: white;
    --detail: rgb(65, 65, 65);
    --link-color: #00A2ED; 
    --font-fam: 'Source Sans Regular', 'Roboto', sans-serif;
    --font-col: black;
}

body {
    background-color: var(--bg-main);
    margin: 0;
    font-family: var(--font-fam);
    color: var(--font-col);
}

header {
    background-color: var(--bg-third);
    margin: 0;
    padding: 5px;

    display: block;

    overflow: hidden;
    text-align: left;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav {
    padding: 5px;
}

nav > a {
    color: var(--link-color);
    margin-right: 10px;
    text-decoration: none;
}

nav > a:hover {
    color: var(--bg-main);
}

main {
    background-color: var(--bg-main);

    width: 95%;
    height: 95%;

    padding: 10px 12px;
    border-radius: 7px;
    margin: 12px auto;
    text-align: center;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

footer {
    background-color: var(--detail);

    padding: 10px;

    text-align: center;
    overflow: hidden;
}
