<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/info.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="task-div-info">
            <h1>{{tarefa._nome}}</h1>
            <p>{{tarefa._descricao}}</p>
            <p>{{tarefa._prioridade}}</p>

            <a href="{{ url_for('deletar_tarefa', id=tarefa._id) }}">deletar</a>
        </div>
    </main>
</body>
</html>