{% extends "template.html" %}
{% block task %}

            <form action="/atualizar" method="POST">
                <input type="hidden" name="id" value="{{ tarefa._id }}">
                <input type="text" name="nome" id="nome" value="{{ tarefa._nome }}" required> <br>
                <input type="text" name="descricao" id="descricao" value="{{ tarefa._descricao }}"> <br>
                <input type="text" name="tipo" id="tipo" value="{{ tarefa._tipo }}" required> <br>
                <input type="text" name="status" id="status" value="{{ tarefa._status }}"> <br>
                <input type="text" name="prioridade" id="prioridade" value="{{ tarefa._prioridade }}"> <br>
                <button type="submit">OK</button>
            </form>

{% endblock %}
